body{
  text-align: center;
    margin-top: 0%;
    background-color: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: 0% auto;
    
}
.header-text{
  font-size: 10px; /*not working */
}
header{
    background: #55d6aa;
    margin-top: 1px;
    font-size: large; /* not working */

}
header::after{
    content: '';
    display: table;
    clear: both;
}

.logo{
    float: left;
    padding: 10px 0;
    position: absolute;
    top: -8px;
    left: 135px;
   
    width: 400;
    height: 700;
    
}
li{
  font-size: 15px;
}
nav{
    float: right;
}
nav ul{
    margin: 0%;
    padding: 0%;
    list-style: none;

}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;

}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

}
nav a.hover{
    color: #000;
}
nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;

}
nav a:hover::before{
    width: 100%;
}

  .card-container {
    margin: 2px; /* Center the container horizontally on the page */
    width: 100%; /* Adjust the width of the container to fit multiple cards on one line */
    display: inline-block; 
    border-radius: 10px; /* dosent work */
 } 
  
  .card {
    background-color: #222;
    padding: 1rem;
    border: 1px;
    border-radius: 10px; /* dosent work */
    width: 20%;
    margin-right: -270px;
    margin-top: 20px;
    margin-left: 300px;
   
    float: left;
 
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px ;
  }
 
  .card-thumbnail {
    background-size: 325px 230px;
    background-position: top;
    border-radius: 10px;

  
    width: 100%;
    height: 200px;
    background-color: rgb(233, 223, 223);

  }
  
  .card-body {
    
    padding: 10px;
  }
  .card-bottom{
    border-radius: 10px;
    


  }
  .card-title {
    background-color: rgb(5, 5, 5);
   border-radius: 10px;
   padding: 8px;
   margin-left: 0px;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    color: #55d6aa;
    
  }
  .platform{
    display: block;
    background-color: rgb(12, 1, 1);
    font-size: 25px;
    float:right;
    border-radius: 10px;
    margin-right: 15px;
    color: red;
    padding: 8px;
    box-shadow: #000;
  }
  
  .card-channel {
    
    color: #777;
    font-size: 14px;
  }
  
  .card-views {
    margin-top: auto;
    font-size: 14px;
    color: #777;
    
  }
  .sidebar {
    position: fixed;
    top: 41px;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #333;
    color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    
  }
  
  .sidebar.active {
    transform: translateX(0);
  }
  
  .sidebar-item {
    padding: 20px;
  }
  
  .toggle-sidebar-btn {
   
    position: fixed;
    top: 0px;
    left: 0px;
   
    background-color: rgb(14, 1, 1);
    color: #fff;
    padding: 11px 19px;
    border-radius: 1%;
    cursor: pointer;
  }
 .current_watching{
  border-radius: 6px;
  background-color: #55d6ab00;
  font-size: large;
  float: right;
  color: #fff;
 }
h1{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}
.sidebar-container{
  padding: 1px;
}
.sidbar-content{

display: flex;


border-bottom : 1px solid rgb(7, 0, 0);


}
.sidebar-container h5{
  padding: 1px;
  color: rgb(248, 244, 244);
  font-size: 15px;
  font-style: italic;
}

.sidebar-content {
  display: flex;
  padding: 15px;
  border-bottom: 1px solid rgb(7, 0, 0);
}

.sidebar-content:hover {
  background-color: rgb(15, 14, 14);
}


.sidebar-content-description p{
  font-size: large;
  color: rgb(0, 0, 0);
  flex-direction: row;
  font-style: italic;
  background-color: rgba(243, 242, 242, 0);
  border-radius: 10px;
  border:#777;
  font-style: italic;
  bottom: 0;
  text-decoration: none;

}
.sidebar-content h5 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.offline-mode h5 {
  font-size: 200px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container p {
  margin: 0;
}

.footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-container ul li {
  margin-left: 20px;
}

.footer-container ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-container ul li a:hover {
  color: #ccc;
}
.work-in-progress{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  
